<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheets" href="styles.css">
  </head>
  <body>
    <div class="container">
      <h3>Esse é o index</h3>
     <h1> Bem-vindo ao Sistema do  Coletivo Morro das Panelas</h1>
      Selecione a opção desejada:<br>
      
      <h2> Produtos </h2>
      <ul>
        <li> <a href="/produto/read/1" class="button listar"> Listar produtos </a> </li> 
        <li> <a href="/produto/create" class="button cadastrar"> Cadastrar um produto </a> </li>
      </ul>
      <br>
      <h2> Produtores</h2>
      <ul>
        <li> <a href="/produtor/read" class="button listar"> Listar produtores </a> </li>
        <li> <a href="/produtor/create" class="button cadastrar"> Cadastrar um produtor </a> </li>
      </ul>
      <br>
      <h2> Clientes </h2>
      <ul>
        <li> <a href="/cliente/read"> Listar clientes </a> </li>
        <li> <a href="/cliente/create"> Cadastrar um cliente </a> </li>
      </ul>
      <br>
      <h2> Pedidos </h2>
      <ul>
        <li> <a href="/pedidos/read"> Administrar Pedidos </a> </li>    
        <li> <a href="/pedidos/cliente"> Cadastrar um pedido </a> </li>
      </ul>
        </div>
    </body>
</html>
