{% extends 'css/layout.html' %}

{% block content %}
<div class="container">
    <h1>Cadastrar novo produto</h1>
    <br>
    Todos os campos são obrigatórios para o cadastro.<br>
    <br>
    <form method="post" action="/produto/create" enctype = multipart/form-data>
     <table>
       <tr><td>Nome do produto: </td> <td> <input type="text" name="nome_produto" id="nome_produto" maxlength="128"></td></tr>
       <tr><td>Porção: </td> <td><input type="text" name="porcao" id="porcao" placeholder="(unidade, dúzia, kg, ml, ...)" maxlength="20"></td></tr>
       <tr><td>Estoque: </td> <td><input type="number step=0.01 " name="qtd" id="qtd" min="0" placeholder="Quantidade"></td></tr>
       <tr><td>Preço (R$): </td> <td><input type=number step=0.01 name="preco" id="preco" min="0"></td></tr>
       <tr><td> Categoria: </td> <td><input type="text" name="categoria" id="categoria" maxlength="64"></td></tr>
       <tr><td> Descrição: </td><td>
        <textarea rows="5" cols="20" name="descricao" id="descricao" maxlength="256" 
              placeholder="Descrição do produto (até 128 caracteres)"></textarea>
       </td></tr>
       <tr><td>Foto: </td> <td><input type="file" name="im_1" id="im_1"></td></tr>
       <p></p>
       <p></p>
       <tr><td></td> <td><input type="submit" class="button" value="Cadastrar" /> </td></tr>
       </table>
    </form>
  <br>
  <a href="/adm/home" class=button2 > Voltar ao menu inicial </a>
</div>
{% endblock content %}